.toptop{
    /* background-image: url("assets/backgrounds/h_img.jpg"); */
}
.top{
    text-align: center;
    background-size: 1300px 650px;
    color: white;
    padding-top: 50px; padding-bottom: 50px;
}
.col-md-10{
    text-align: center;
}
.about{
   padding-top: 3%; padding-left: 10%; padding-right: 10%;
}
.services{
    color: white;
}
p{
    text-align: center;
}
.what-we-do{
    margin-top: 3%;
}
.portfolio{
    margin-top: 3%;
}
.row-one{
    display: inline;
    flex-direction: row;
}
.row-one>img{
    width: 20px;
}

.contact{
    
    margin-top: 5%; 
}
.contact>h3{
    padding-top: 4%;
    color: white;
}

.contacts{
    display: flex;
    justify-content: center;
}
.inputs{
    display: flex;
    justify-content: center;
    background: transparent;
}
input{
    background: transparent;
}
.md-form{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn{
    /* width: 10px; */
    text-align: center;
    color: black;
    background-color: white;
    margin-bottom: 7%;
    /* float: left; margin-left: 3%; */
}

.inside-services{
    padding-top: 7%; padding-bottom: 7%;
}


#message{
    padding-bottom: 100px;
}

.footer
.footer>image{
    width: 30%;
}

#toggle-design, #toggle-dev, #toggle-project{
    display: none;
    text-align: center;
}