.toptop{
    background-image: url("/assets/backgrounds/h_img.jpg");
}
.top{
    text-align: center;
    background-size: 1300px 650px;
    color: white;
    padding-top: 50px; padding-bottom: 50px;
}
.col-md-10{
    text-align: center;
}
.about{
   padding-top: 3%; padding-left: 10%; padding-right: 10%;
}
.services{
    background-image: url('/assets/backgrounds/s_image.jpg'); 
    color: white;
}
p{
    text-align: center;
}
.what-we-do{
    margin-top: 3%;
}
.portfolio{
    margin-top: 3%;
}
.row-one{
    display: inline;
    flex-direction: row;
}

.inside-services{
    padding-top: 7%; padding-bottom: 7%;
}


#message{
    padding-bottom: 100px;
}
